/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetBrainsMono";
	src: url("/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2"),
		url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2");
}
